* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background: #707E7F;
  width: 100vw;
  height: 100vh;
}

h1 {
  width: 100vw;
  text-align: center;
}

.timerContainer {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2vmin;
}

.timerBox {
  border: solid black;
  border-radius: 10%;
  width: 20vw;
  min-width: 200px;
  aspect-ratio: 1 / 1;

  padding: 10px;
  margin: 2px;
  background-color: #96A4A5;
}

.timerContentBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.buttonBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.timeBox {
  text-align: center;
  font-size: 30px;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.smallUnit {
  font-size: 15px;
  margin-top: 15px;
}

@keyframes typingIndicatorAnimation {
  from {
    color: white;
  }
  to {
    color: #B3B5B4;
  }
}

.typingIndicator {
  color: white;
  margin-left: -3px;
  margin-right: -2px;

  animation: typingIndicatorAnimation 0.4s alternate infinite;
}

input[type=button] {
  padding: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 44%;
  aspect-ratio: 2.8 / 1;
  color: white;
  font-size: 14px;
}

input[type=button]:hover, input[type=button]:focus {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

input[type=button]:active {
  outline: solid black;
}